<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
<p>
  Contact me via <a href="mailto:smoothclip@gmail.com?subject=JITTER Contact">email here</a>.
</p>